In [1]:
## Подключаем необходимые библиотеки
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')
import pandas as pd
import yfinance as yf
import matplotlib
from pandas_datareader import data as pdr
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si
from pandas_datareader import data as wb
import datetime
from nsepy import get_history
from nsepython import *
import logging
urllib3_logger = logging.getLogger('urllib3') # Обработчик сообщений, чтобы они не выводились при сборе данных о тикерах
urllib3_logger.setLevel(logging.CRITICAL)
logging.getLogger('matplotlib.font_manager').disabled = True

In [2]:
 # Задаем список тикеров. Здесь вручную.
list_of_tickers = si.tickers_sp500()
# Турция ["AGHOL.IS", "TURSG.IS", "AKBNK.IS", "AKCNS.IS", "AKSGY.IS", "AKSA.IS", "AKSEN.IS", "ALGYO.IS", "ALARK.IS", "ALBRK.IS", "ALCTL.IS", "ALKIM.IS", "AEFES.IS", "ARCLK.IS", "ARDYZ.IS", "ASELS.IS", "AYGAZ.IS", "BAGFS.IS", "BIMAS.IS", "BIZIM.IS", "BRSAN.IS", "BRISA.IS", "BUCIM.IS", "CLEBI.IS", "CEMTS.IS", "CIMSA.IS", "CCOLA.IS", "DEVA.IS", "DOHOL.IS", "DOAS.IS", "EGEEN.IS", "EKGYO.IS", "ENJSA.IS", "ENKAI.IS", "EREGL.IS", "FROTO.IS", "GARAN.IS", "GOODY.IS", "GOZDE.IS", "GSDHO.IS", "GUBRF.IS", "HALKB.IS", "HEKTS.IS", "INDES.IS", "IPEKE.IS", "ISFIN.IS", "ISGYO.IS", "ISMEN.IS", "ISDMR.IS", "KRDMD.IS", "KAREL.IS", "KARTN.IS", "KERVT.IS", "KCHOL.IS", "KORDS.IS", "KOZAL.IS", "KOZAA.IS", "LOGO.IS", "MAVI.IS", "MGROS.IS", "MPARK.IS", "NTHOL.IS", "NETAS.IS", "ODAS.IS", "OTKAR.IS", "OYAKC.IS", "OZKGY.IS", "PGSUS.IS", "PETKM.IS", "PETUN.IS", "PNSUT.IS", "SAHOL.IS", "SASA.IS", "SKBNK.IS", "SELEC.IS", "SISE.IS", "SOKM.IS", "TATGD.IS", "TAVHL.IS", "TKFEN.IS", "THYAO.IS", "TOASO.IS", "TRGYO.IS", "TSKB.IS", "TMSN.IS", "TUPRS.IS", "TTKOM.IS", "TTRAK.IS", "TKC", "THBIY", "ISCTR.IS", "TURSG.IS", "ULKER.IS", "VAKBN.IS", "VESTL.IS", "YKBNK.IS", "YATAS.IS", "ZOREN.IS"]
# Аргентина ["AGRO.BA", "ALUA.BA", "AUSO.BA", "BHIP.BA", "BMA.BA", "BPAT.BA", "BRIO.BA", "BBAR.BA", "GAMI.BA", "BOLT.BA", "BYMA.BA", "CVH.BA", "CGPA2.BA", "CAPX.BA", "CARC.BA", "CADO.BA", "CELU.BA", "CEPU2.BA", "URBA.BA", "COMO.BA", "INTR.BA", "CTIO.BA", "COUR.BA", "CRES.BA", "DGCU2.BA", "DOME.BA", "DYCA.BA", "EDSH.BA", "EDLH.BA", "EMAC.BA", "EDN.BA", "EMDE.BA", "DLAP.BA", "DSUR.BA", "CECO2.BA", "FERR.BA", "FIPL.BA", "REGE.BA", "GARO.BA", "GRIM.BA", "GCLA.BA", "OEST.BA", "GGAL.BA", "VALO.BA", "SUPV.BA", "HAVA.BA", "HARG.BA", "HULI.BA", "PATA.BA", "ROSE.BA", "INAG.BA", "IEBA.BA", "INVJ.BA", "IRSA.BA", "IRCP.BA", "RICH.BA", "LEDE.BA", "LEID.BA", "LOMA.BA", "LONG.BA", "MTBA.BA", "METR.BA", "MVIA.BA", "MIRG.BA", "MOLA.BA", "SEMI.BA", "MOLI.BA", "MORI.BA", "GBAN.BA", "NCON.BA", "OVOP.BA", "PAMP.BA", "PREN1.BA", "PATR.BA", "PSUR.BA", "PGR.BA", "POLL.BA", "RIGO.BA", "SAMI.BA", "COME.BA", "TECO2.BA", "TXAR.BA", "TGLT.BA", "TRAN.BA", "TGNO4.BA", "TGSU2.BA", "YPFD.BA"]
#si.tickers_sp500()
# Россия ["GAZP.ME", "SBER.ME", "LKOH.ME", "GMKN.ME", "YNDX.ME", "NVTK.ME", "ROSN.ME", "POLY.ME", "TCSG.ME", "PLZL.ME", "MGNT.ME", "NLMK.ME", "TATN.ME", "CHMF.ME", "SNGSP.ME", "MTSS.ME", "ALRS.ME", "SNGSP.ME", "FIVE.ME", "IMOEX.ME", "SBERP.ME", "IRAO.ME", "VTBR.ME", "PHOR.ME", "RUAL.ME", "PIKK.ME", "MAGN.ME", "AFKS.ME", "RTKM.ME", "TRNFP.ME", "DSKY.ME", "AFLT.ME", "HYDR.ME", "TATNP.ME", "FEES.ME", "CBOM.ME", "LSRG.ME", "RSTI.ME", "SIBN.ME"]
# si.tickers_sp500()
# Задаем диапазон дат в котором нужно собирать все данные по тикерам
start = datetime.datetime(2010,1,1)
end = datetime.datetime.today().date() # сегодняшняя дата, чтобы не менять вручную.
# Получаем данные из Yahoo. Именно этот способ позволяет получить данные с тикерами в столбцах.
yahoo_data = pdr.DataReader(list_of_tickers, 'yahoo', start, end)
stocks_price = pd.DataFrame(yahoo_data["Close"])
stocks_volume = pd.DataFrame(yahoo_data["Volume"])

INFO:numexpr.utils:NumExpr defaulting to 4 threads.

In [3]:
# stocks_price = pd.DataFrame(yahoo_data["Close"]).loc['2010':'2011'].fillna(0)
# stocks_volume = pd.DataFrame(yahoo_data["Volume"]).loc['2010':'2011'].fillna(0)

In [4]:
stocks_volume

Symbols,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,5224606.0,5268600.0,894500.0,352410800.0,NaN,1466400.0,106100.0,6238850.0,2001000.0,2900400.0,...,1364700.0,2249000.0,18852300.0,489300.0,NaN,1790217.0,562300.0,184800.0,3239800.0,NaN
2010-01-04,3815561.0,9837300.0,1701700.0,493729600.0,NaN,2455900.0,149100.0,10829095.0,3650100.0,4710200.0,...,2670400.0,2824700.0,27809100.0,1051400.0,NaN,2962274.0,782400.0,168800.0,3974600.0,NaN
2010-01-05,4186031.0,25212000.0,1932400.0,601904800.0,NaN,2476800.0,134900.0,10562109.0,2613000.0,7108800.0,...,4321400.0,3469700.0,30174700.0,763400.0,NaN,3298757.0,1718100.0,168800.0,5605500.0,NaN
2010-01-06,3243779.0,16597900.0,1406200.0,552160000.0,NaN,4039300.0,117500.0,11401417.0,5772100.0,5336400.0,...,2164500.0,6329200.0,35044700.0,1595100.0,NaN,4178981.0,1277300.0,385300.0,12615200.0,NaN
2010-01-07,3095172.0,14033400.0,1256800.0,477131200.0,NaN,5244600.0,580800.0,12857232.0,4022900.0,5576700.0,...,3041700.0,9252700.0,27192100.0,1096100.0,NaN,2452472.0,1683500.0,183600.0,24716800.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-15,1035800.0,19062200.0,1136300.0,62746300.0,3590500.0,474600.0,217400.0,5398800.0,1408200.0,2424800.0,...,2138300.0,902200.0,30717100.0,1145300.0,745600.0,1177700.0,1376800.0,184900.0,1032600.0,1629700.0
2021-06-16,1680800.0,20296900.0,823800.0,91815000.0,6670200.0,566200.0,287200.0,7051500.0,2350600.0,2842000.0,...,2550500.0,1015400.0,24803200.0,718800.0,1010300.0,1394400.0,1426100.0,196600.0,1620800.0,1933800.0
2021-06-17,2822400.0,32879100.0,1220700.0,96721700.0,4172300.0,597800.0,366300.0,5967400.0,1872100.0,3566400.0,...,2643100.0,2878900.0,28491800.0,933900.0,1074800.0,1215800.0,1367100.0,189400.0,1730800.0,1245500.0
2021-06-18,3220700.0,27926100.0,1006300.0,108787300.0,7414600.0,1189400.0,564200.0,8831800.0,3134000.0,6759900.0,...,4431800.0,5276900.0,39567500.0,1939300.0,2234100.0,3951000.0,2239000.0,487100.0,3206800.0,3359900.0
2021-06-21,1266100.0,26591100.0,591600.0,79576500.0,4665700.0,800200.0,300600.0,4743300.0,1959400.0,2623700.0,...,2041700.0,2601200.0,33112200.0,974800.0,725400.0,1486800.0,1580100.0,301200.0,2082200.0,1980300.0

In [5]:
# filtered_stocks = (stocks_price * stocks_volume
#                    ).mean().sort_values(ascending=False).index
# filtered_stocks
# filtered_stocks_prices = stocks_price[filtered_stocks]
# filtered_stocks_prices

# Filter the top 100 stocks
filtered_stocks = (stocks_price[:90] * stocks_volume[:90]
                   ).mean().sort_values(ascending=False).index[:100]

filtered_stocks_prices = stocks_price[filtered_stocks].dropna()

# Print columns of the filtered_stocks_prices dataframe
filtered_stocks

Index(['AAPL', 'BAC', 'GS', 'C', 'GOOG', 'GOOGL', 'XOM', 'JPM', 'MSFT', 'F',
       'INTC', 'GE', 'WFC', 'CSCO', 'FCX', 'AMZN', 'QCOM', 'PFE', 'IBM',
       'BRK-B', 'SLB', 'CVX', 'T', 'WMT', 'JNJ', 'ORCL', 'HPQ', 'PG', 'LVS',
       'MRK', 'KO', 'VZ', 'MS', 'COP', 'CAT', 'AIG', 'MDLZ', 'GILD', 'HD',
       'HAL', 'MCD', 'PEP', 'OXY', 'V', 'AXP', 'BA', 'NEM', 'EBAY', 'DIS',
       'ABT', 'ANTM', 'UNH', 'AMGN', 'TXN', 'MGM', 'PM', 'CMCSA', 'CVS', 'MA',
       'APA', 'RTX', 'PNC', 'AMAT', 'USB', 'MMM', 'UPS', 'BMY', 'TGT', 'MU',
       'DD', 'LOW', 'BAX', 'BKR', 'DVN', 'GLW', 'BBY', 'STX', 'NVDA', 'MOS',
       'MO', 'COF', 'FDX', 'UNP', 'MET', 'EOG', 'SPG', 'WBA', 'DE', 'LLY',
       'ADBE', 'BKNG', 'HIG', 'MDT', 'TRV', 'MSI', 'STT', 'NOV', 'SCHW', 'NUE',
       'FITB'],
      dtype='object', name='Symbols')

In [6]:
import simfin as sf
from simfin.names import *
sf.set_api_key('free')
sf.set_data_dir('~/simfin_data/')
df = sf.load_income(variant='quarterly', market='us')
df

Dataset "us-income-quarterly" on disk (13 days old).
- Loading from disk ... Done!

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2010-07-31      45846      USD         2010            Q3   2010-10-06
       2010-10-31      45846      USD         2010            Q4   2010-12-20
       2011-01-31      45846      USD         2011            Q1   2011-03-09
       2011-04-30      45846      USD         2011            Q2   2011-06-07
       2011-07-31      45846      USD         2011            Q3   2011-09-07
...                      ...      ...          ...           ...          ...
ZYXI   2019-03-31     171401      USD         2019            Q1   2019-04-30
       2019-06-30     171401      USD         2019            Q2   2019-07-31
       2019-09-30     171401      USD         2019            Q3   2019-10-29
       2019-12-31     171401      USD         2019            Q4   2020-02-27
       2020-03-31     171401      USD         2020            Q1   2020-04-28

                   Restated Date  Shares (Basic)  Shares (Diluted)  \
Ticker Report Date
A      2010-07-31     2011-09-07     347000000.0       352000000.0
       2010-10-31     2012-12-20     344000000.0       356000000.0
       2011-01-31     2012-03-05     347000000.0       355000000.0
       2011-04-30     2012-06-04     347000000.0       355000000.0
       2011-07-31     2012-09-05     348000000.0       357000000.0
...                          ...             ...               ...
ZYXI   2019-03-31     2019-04-30      32233000.0        33721000.0
       2019-06-30     2019-07-31      32326000.0        33953000.0
       2019-09-30     2019-10-29      32490000.0        34076000.0
       2019-12-31     2020-02-27      32707000.0        34102000.0
       2020-03-31     2020-04-28      32913000.0        34204000.0

                         Revenue  Cost of Revenue  ...  \
Ticker Report Date                                 ...
A      2010-07-31   1.384000e+09     -659000000.0  ...
       2010-10-31   1.576000e+09     -742000000.0  ...
       2011-01-31   1.519000e+09     -703000000.0  ...
       2011-04-30   1.677000e+09     -777000000.0  ...
       2011-07-31   1.691000e+09     -799000000.0  ...
...                          ...              ...  ...
ZYXI   2019-03-31   9.196000e+06       -1784000.0  ...
       2019-06-30   1.029700e+07       -1948000.0  ...
       2019-09-30   1.181700e+07       -2261000.0  ...
       2019-12-31   1.416200e+07       -2821000.0  ...
       2020-03-31   1.522800e+07       -3401000.0  ...

                    Non-Operating Income (Loss)  Interest Expense, Net  \
Ticker Report Date
A      2010-07-31                   -15000000.0            -21000000.0
       2010-10-31                    35000000.0            -16000000.0
       2011-01-31                   -13000000.0            -19000000.0
       2011-04-30                    -6000000.0            -17000000.0
       2011-07-31                           0.0            -17000000.0
...                                         ...                    ...
ZYXI   2019-03-31                           0.0                    0.0
       2019-06-30                           0.0                    0.0
       2019-09-30                       -1000.0                -1000.0
       2019-12-31                       -4000.0                -4000.0
       2020-03-31                       -4000.0                    NaN

                    Pretax Income (Loss), Adj.  Abnormal Gains (Losses)  \
Ticker Report Date
A      2010-07-31                    100000000              127000000.0
       2010-10-31                    238000000                5000000.0
       2011-01-31                    198000000                      NaN
       2011-04-30                    260000000                      NaN
       2011-07-31                    281000000                      NaN
...                                        ...                      ...
ZYXI   2019-03-31                      2256000                 880000.0
       2019-06-30                      2584000                      0.0
       2019-09-30                      2494000                      0.0
       2019-12-31                      3727000                      0.0
       2020-03-31                      2454000                      0.0

                    Pretax Income (Loss)  Income Tax (Expense) Benefit, Net  \
Ticker Report Date
A      2010-07-31              227000000                        -22000000.0
       2010-10-31              243000000                         49000000.0
       2011-01-31              198000000                         -5000000.0
       2011-04-30              260000000                        -60000000.0
       2011-07-31              281000000                         49000000.0
...                                  ...                                ...
ZYXI   2019-03-31                3136000                          -786000.0
       2019-06-30                2584000                          -422000.0
       2019-09-30                2494000                          -463000.0
       2019-12-31                3727000                          -778000.0
       2020-03-31                2454000                           483000.0

                    Income (Loss) from Continuing Operations  \
Ticker Report Date
A      2010-07-31                                  205000000
       2010-10-31                                  292000000
       2011-01-31                                  193000000
       2011-04-30                                  200000000
       2011-07-31                                  330000000
...                                                      ...
ZYXI   2019-03-31                                    2350000
       2019-06-30                                    2162000
       2019-09-30                                    2031000
       2019-12-31                                    2949000
       2020-03-31                                    2937000

                    Net Extraordinary Gains (Losses)  Net Income  \
Ticker Report Date
A      2010-07-31                                NaN   205000000
       2010-10-31                                NaN   292000000
       2011-01-31                                NaN   193000000
       2011-04-30                                NaN   200000000
       2011-07-31                                NaN   330000000
...                                              ...         ...
ZYXI   2019-03-31                                NaN     2350000
       2019-06-30                                NaN     2162000
       2019-09-30                                NaN     2031000
       2019-12-31                                NaN     2949000
       2020-03-31                                NaN     2937000

                    Net Income (Common)
Ticker Report Date
A      2010-07-31             205000000
       2010-10-31             292000000
       2011-01-31             193000000
       2011-04-30             200000000
       2011-07-31             330000000
...                                 ...
ZYXI   2019-03-31               2350000
       2019-06-30               2162000
       2019-09-30               2031000
       2019-12-31               2949000
       2020-03-31               2937000

[68274 rows x 26 columns]

In [7]:
df = pd.DataFrame(df)
quarterly_income_statement = df[['Publish Date', 'Revenue', 'Net Income', 'Operating Income (Loss)']]
quarterly_income_statement = quarterly_income_statement.reset_index()
quarterly_income_statement

,Ticker,Report Date,Publish Date,Revenue,Net Income,Operating Income (Loss)
0,A,2010-07-31,2010-10-06,1.384000e+09,205000000,115000000
1,A,2010-10-31,2010-12-20,1.576000e+09,292000000,203000000
2,A,2011-01-31,2011-03-09,1.519000e+09,193000000,211000000
3,A,2011-04-30,2011-06-07,1.677000e+09,200000000,266000000
4,A,2011-07-31,2011-09-07,1.691000e+09,330000000,281000000
...,...,...,...,...,...,...
68269,ZYXI,2019-03-31,2019-04-30,9.196000e+06,2350000,2256000
68270,ZYXI,2019-06-30,2019-07-31,1.029700e+07,2162000,2584000
68271,ZYXI,2019-09-30,2019-10-29,1.181700e+07,2031000,2495000
68272,ZYXI,2019-12-31,2020-02-27,1.416200e+07,2949000,3731000
68273,ZYXI,2020-03-31,2020-04-28,1.522800e+07,2937000,2458000

In [8]:
# Create a dataframe with unique 'Publish Date'
fundamental_data = pd.DataFrame(
    index=quarterly_income_statement['Publish Date'].unique())
fundamental_data.head()

Empty DataFrame
Columns: []
Index: [2010-10-06 00:00:00, 2010-12-20 00:00:00, 2011-03-09 00:00:00, 2011-06-07 00:00:00, 2011-09-07 00:00:00]

In [9]:
# Calculate the quarterly operating income growth
for sym in quarterly_income_statement.Ticker.unique():
    df = quarterly_income_statement.loc[quarterly_income_statement.Ticker == sym]
    df = df.set_index('Publish Date')
    df['operating_income_growth'] = 100 * \
        (df['Operating Income (Loss)']/df['Operating Income (Loss)'].shift(4)-1)
    fundamental_data[sym] = df['operating_income_growth']
   
 # Sort the index of fundamental data
fundamental_data = fundamental_data.sort_index()

# Forward fill the quarterly data to missing values
fundamental_data = fundamental_data.fillna(method='ffill')

# Consider the fundamental data dataframe from 2012 to mid 2019
fundamental_data = fundamental_data.loc['2010-01-01':'2020-12-31']

# Drop the columns with NaN values
fundamental_data = fundamental_data.dropna(axis=1).dropna()

# Print the dimensions of fundamental data dataframe
fundamental_data.shape

(450, 2042)

In [10]:
fundamental_data = pd.DataFrame(fundamental_data)
filtered_stocks_prices = pd.DataFrame(filtered_stocks_prices)

In [11]:
a = filtered_stocks_prices.columns
b = fundamental_data.columns
list3 = [value for value in a if value in b]

In [12]:
# Select filtered_stock_prices data from 2012 to mid 2019 with tickers having fundamental data columns
filtered_stocks_prices = filtered_stocks_prices.loc['2019-01-01':'2020-12-31', list3]
# Drop the columns with NaN values
filtered_stocks_prices = filtered_stocks_prices.dropna(axis=1)

filtered_stocks_prices.shape

(505, 79)

In [13]:
# Create a dataframe 'dates'
dates = pd.DataFrame(index=filtered_stocks_prices.index)

# Merge 'fundamental_data' dataframe with 'dates' and forward fill the missing values
fundamental_data = fundamental_data.merge(
    dates, right_index=True, left_index=True, how='right')

fundamental_data = fundamental_data.fillna(method='ffill')
fundamental_data = fundamental_data.dropna()

fundamental_data.shape

(505, 2042)

In [14]:
# Keep the fundamental_data index
filtered_stocks_prices = filtered_stocks_prices.loc[fundamental_data.index, :]

#filtered_stocks_prices.shape
filtered_stocks_prices.shape

(505, 79)

In [ ]:
txn_cost = 0.001

lookback_days = 175
skip_days = 5
hold_days = 41

# print(filtered_stocks_prices)

cumulative_long_short = []
cumulative_long_only = []
cumulative_skip_recent_list = []
sell_buy_date = []

decile_coef = 0.2
txn_cost = 0.01
        
for i in range(100):
# i = 0
    try:
        lookback_returns = filtered_stocks_prices[i*hold_days:(i*hold_days)+lookback_days+1].pct_change()
        hold_returns = filtered_stocks_prices[(i*hold_days)+lookback_days+1+skip_days:(i*hold_days)+lookback_days+1+skip_days+hold_days].pct_change()

    #     print(lookback_returns)
    #     print(hold_returns)

        lookback_returns_company_list = lookback_returns.mean().sort_values(ascending = False).dropna()
        lookback_returns_company_list_top = lookback_returns_company_list[:int(len(lookback_returns)*decile_coef)]
        lookback_returns_company_list_bottom = lookback_returns_company_list[::-1][:int(len(lookback_returns)*decile_coef)]

#         print(len(lookback_returns_company_list_top))
#         print(len(lookback_returns_company_list_bottom))      
        
        hold_list_top = hold_returns[lookback_returns_company_list_top.index.tolist()]
        hold_list_top_taxes = hold_list_top.copy()
        hold_list_top_taxes.iloc[1] = hold_list_top_taxes.iloc[1] * (1-len(hold_list_top)*txn_cost)
        hold_list_top_taxes.iloc[-1] = hold_list_top_taxes.iloc[-1] * (1-len(hold_list_top)*txn_cost)

        hold_list_bottom = hold_returns[lookback_returns_company_list_bottom.index.tolist()]
        hold_list_bottom_taxes = hold_list_bottom.copy()
        hold_list_bottom_taxes.iloc[1] = hold_list_bottom_taxes.iloc[1] * (1-len(hold_list_bottom)*txn_cost)
        hold_list_bottom_taxes.iloc[1] = hold_list_bottom_taxes.iloc[1] * (1-len(hold_list_bottom)*txn_cost)

    #     print(hold_list_top.index.tolist()[-1])
    #     print(hold_list_top )
#         cumulative_return_top = (hold_list_top_taxes.mean(axis=1)+1).cumprod().iloc[-1]
#         cumulative_return_bottom = (hold_list_bottom_taxes.mean(axis=1)+1).cumprod().iloc[-1]
        cumulative_portfel_long_short = (hold_list_top_taxes.mean(axis=1).iloc[-1] - hold_list_bottom_taxes.mean(axis=1).iloc[-1]+1).cumprod()
        cumulative_portfel_long_only = (hold_list_top_taxes.mean(axis=1).iloc[-1]+1).cumprod()
        cumulative_long_short.append(cumulative_portfel_long_short)
        cumulative_long_only.append(cumulative_portfel_long_only)
#        cumulative_skip_recent_list.append(cumulative_return_bottom)
        sell_buy_date.append(hold_list_top.index.tolist()[-1])

#         print('Sell/Buy Date: ', hold_list_top.index.tolist()[-1])
#         print('cumulative_long_only', cumulative_return_top)
#         print('cumulative_return_bottom', cumulative_return_bottom)

#         print('cumulative_skip_recent', cumulative_portfel)
    except:
        pass

final_df = pd.DataFrame()
final_df['Sell/Buy Date'] = sell_buy_date
final_df['Cumulative Long-Short'] = cumulative_long_short
final_df['Cumulative Long Only'] = cumulative_long_only
#final_df['Cumulative Skip Recent'] = cumulative_skip_recent_list
final_df


plt.plot(final_df['Sell/Buy Date'], final_df['Cumulative Long-Short'], final_df['Sell/Buy Date'], final_df['Cumulative Long Only'])
# plt.axis(final_df['Sell/Buy Date'])
plt.ylabel('Strategy Returns', fontsize=12)
plt.title('Long Only CS Strategy Returns', fontsize=14)
plt.show()

final_df = final_df.set_index('Sell/Buy Date')
#final_df.loc['2010':'2021'].sum()
print("cumulative_return =", "%.2f%%" % (100 * (final_df['Cumulative Long-Short'][-1] - 1)))
print("cumulative_return2 =", "%.2f%%" % (100 * (final_df['Cumulative Long Only'][-1] - 1)))
print( "%.2f%%" % (100 * (final_df['Cumulative Long-Short'][-1] - 1)))
print( "%.2f%%" % (100 * (final_df['Cumulative Long Only'][-1] - 1)))